<html>
<head>
</head>
  <body>
    <h1>
      SHOUTER
    </h1>
    <% if @current_user %>
    <h2>Hi, <%= @current_user %>!</h2>
    <form action="/logout" method="post">
      <input type="submit" value="Log out"/>
    </form>
    <h2>SHOUT!</h2>
      <form action="/shout/new" method="post">
        <p><label>Message (Max 200 characters)</label></p><textarea name="message" rows="10" cols="50"></textarea>
        <p><input type="submit" value="Shout!"/></p>
      </form>
    <% else %>
      <h2>Log in</h2>
      <form action="/login" method="post">
        <p><label>Handle</label></p>
        <input name="handle"/>
        <p><label>Password</label></p>
        <input name="password" />
        <p><input type="submit" value="Log in"/></p>
      </form>
      <p>Not a shouter? <a href="/signup">Sign up!</a></p>
    <% end %>
    <h2>People are shouting</h2>
      <% if @shouts.any? %>
      <p><a href="/best">Best shouts</a></p>
      <p><a href="/top_handles">Best shouters</a></p>
      <ul>
        <% @shouts.each do |shout| %>
        <p><li>
            <% user_id = shout.user_id %>
              "<%= shout.message %>" 
              <strong><a href="/shouts/<%= @users.find(user_id).handle %>">@<%= @users.find(user_id).handle %></a></strong>
               <%= shout.likes %> likes
              <form action="/<%= shout.id%>/like" method="post">
                <input type="submit" value="LIKE" />
              </form>
        </li></p>
        <% end %>
      </ul>
      <% else %>
        <p>No shouts yet!</p>
      <% end %>
  </body>
</html>